<html>
<head>
  <title>Alondra McCausland</title>
</head>
<body>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="utf-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link rel = "stylesheet" href="style.css" type="text/css">

<body data-spy="scroll" data-target =".navbar" data-offset = "50">
<!-- This is the beginning of the nav-bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type ="button" class="navbar-toggle" data-toggle = "collapse" data-target = "#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/green_logo_copy.png"></a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav">
          <li id="navtext"><a href="#aboutsection">About Alondra</a></li>
          <li id ="navtext"><a href="#sellingsection">Selling/Buying</a></li>
          <li id ="navtext"><a href="#contactsection">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>
   <!-- Carsousel -->
   <div class="row" id="carouselrowcontainer">
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <div class="item active">
           <img src="images/Home1200x480.jpeg" alt="ex home1">
           <div class="carousel-caption">
               <h3 class="h3-responsive">Make a move forward </h3>
               <p>contact alondra to get upto $1500 toward your new home's closeing cost</p>
           </div>
         </div>

         <div class="item">
           <img src="images/Home2_1200x480.jpg" alt="ex home2">
           <div class="carousel-caption">
               <h3 class="h3-responsive">Sellers Work With Alondra</h3>
               <p>Because nobody can match her 1% full service listings </p>
           </div>
         </div>

         <div class="item">
           <img src="images/H31200x480.jpg" alt="ex home3">
           <div class="carousel-caption">
               <h3 class="h3-responsive">Contact Alondra today </h3>
               <p>For the information you need in the home buying and selling process</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- End of Carousel -->

   <!-- Beginning of about me -->
   <div id="aboutsection" class="container-fluid">
     <div class="row">
       <!-- This is where the bio/about me section with text will go -->
       <div class="col-sm-8">
         <h2 class="bioheadertext">- About Alondra -</h2>

         <p class="paragraphtext">
         Lorem ipsum dolor sit amet, cum integre cotidieque adversarium et. Mea nusquam eligendi ne, eum alterum nusquam definiebas ut. Quo in accumsan consulatu, rebum partem interpretaris vix at, ei inimicus voluptatibus cum. Putent impedit deterruisset eu cum, no blandit scribentur interpretaris per. Essent oportere est ad. Per ut nibh consectetuer, atqui perpetua expetendis eam id.
         In has omnes ignota accusam, pri cu prima altera ceteros. Veri tritani maluisset ea duo, sit quando omnium ad. Ne idque recusabo maluisset vim. Mea te ubique dolorem imperdiet, sit at posse persequeris interpretaris, atqui labore eleifend in quo.
         Vix phaedrum qualisque voluptatibus te, dico aeque nam eu, tale viris vocent at his. An has affert tibique legendos, et quidam philosophia vix. Porro sententiae ius te. Ei assum pericula duo, ludus graecis consequat pri no.
         Vis in persius vocibus verterem, cum cu doming legimus forensibus. Mei odio exerci ad. Quem aeterno laboramus no mel. Quo latine consulatu te, pri novum labores officiis ad. Te mei sumo ceteros dissentiet, ei apeirian singulis oportere sed.
         Veri praesent ei eam, est in altera salutatus reprimique. Vim nulla voluptaria expetendis ea. Eu mea commune intellegam. Noster maluisset cu cum, ne nec suas timeam. Ad usu iuvaret sanctus pertinax. Affert soluta te mei, mel maluisset disputando ad. Est fuisset copiosae eu, ex habeo euripidis sea.
         An cum denique officiis pericula. Tritani expetenda definitiones an duo, eius graecis luptatum te eum. Est ei primis urbanitas, ad labores suscipit neglegentur pri. Diceret impedit ei pro.
         Sit quando tempor conceptam id. Ut has dolorum conceptam. Et his nominavi laboramus. At vel erroribus tincidunt philosophia. Denique fastidii explicari cu eos, qui iusto voluptua contentiones te.
         At his nulla soleat maiestatis, an sit albucius senserit. Id agam tempor mentitum ius, ad mea amet ferri explicari. Vix in summo congue aeterno. Paulo imperdiet incorrupte in per, omittam intellegat efficiantur at vim. Est expetendis scribentur ne, accusata tractatos consetetur mel ut.
         Ne verterem theophrastus delicatissimi vis, vis at modus postea, ea usu mandamus intellegat. Et quem lorem eruditi has, ea facete meliore omnesque sea. Altera percipit laboramus cum ne. Vis at alterum ocurreret, autem possit labitur no mea, usu ludus zril voluptatum no. Tantas principes in pri, aperiri copiosae ius ne, mea ut brute nostro commune.
         </p>

       </div>
       <!-- This is where the profile pic will go -->
       <div class="col-sm-4">
         <img src="images/P8_resize.png" id="alondrapic">
           <h4 class="textunderalondrapic">Alondra McCausland</h4>
           <p class="textunderalondrapic">Real-estate agent</p>
       </div>
     </div>
   </div>
   <!-- End of About Me -->
   <!-- Beginning of Selling/Buying Section -->
<div id="sellingsection" class="container-fluid">
  <h2 class="sbheadertext">- Selling and Buying -</h2>
  <div class="row">
    <!-- Selling section -->
    <div class="col-sm-6" id="lineinbetweencol">
      <h4>Selling:</h4>
      <p class="paragraphtext">
        Lorem ipsum dolor sit amet, ea iusto elitr sed, epicuri noluisse adipiscing in his. Mel tale doming te, mutat impetus reformidans ei has. Usu no facer insolens delicata, vero propriae ei cum, per hinc movet adipiscing cu. Clita nullam referrentur eos cu. Et praesent pertinacia appellantur cum. Inani melius adipiscing eam ne, est dicta diceret ex, te probatus oportere per. An esse salutandi adolescens pri, has animal sensibus eu. An usu hinc labitur, id has ferri alterum facilis. Mei et laoreet docendi, sensibus oportere consetetur quo an. Tibique fastidii mentitum nam in. Ne nullam graecis nec, stet virtute utroque ad nec.
      </p>
    </div>
    <!-- End of Selling section -->

    <!-- Buying section -->
    <div class="col-sm-6">
      <h4>Buying:</h4>
      <p class="paragraphtext">
        Lorem ipsum dolor sit amet, ea iusto elitr sed, epicuri noluisse adipiscing in his. Mel tale doming te, mutat impetus reformidans ei has. Usu no facer insolens delicata, vero propriae ei cum, per hinc movet adipiscing cu. Clita nullam referrentur eos cu. Et praesent pertinacia appellantur cum. Inani melius adipiscing eam ne, est dicta diceret ex, te probatus oportere per. An esse salutandi adolescens pri, has animal sensibus eu. An usu hinc labitur, id has ferri alterum facilis. Mei et laoreet docendi, sensibus oportere consetetur quo an. Tibique fastidii mentitum nam in. Ne nullam graecis nec, stet virtute utroque ad nec.
      </p>
    </div>
    <!-- End of Buying section -->
  </div>
</div>
<!-- End of Selling/Buying section -->
<!--=========================================-->
<!-- Beginning of Contact section -->
<!--=========================================-->
<div id="contactsection" class="container-fluid">
 <form id = "contact-form" method="post" action="/addclient">
  <div class="row">
    <!-- Padding columns of size 2 on L & R -->
    <div class="col-sm-2"></div>
    <!-- This will contain the contact me box w/ the form -->
    <div class="col-sm-8">
      <div class="panel panel-default" id="contactpanel">
       <div class="panel-heading">
        <h2 class="contactheadertext">- Contact Alondra -</h2>
      </div>
      <!-- Panel body section -->
      <div class="panel-body">
        <h4 class="contactmecalltext">Call
        <span class="glyphicon glyphicon-earphone" id="phoneglyph"></span>
        (909)-456-3235
        </h4>
        <h4 class="contactmecalltext">Or</h4>
        <h4 class="contactmetext">Send Alondra an email with any questions or about any inquiries in puchasing/selling a home!</h4>
        <!-- Section for inputting user full name -->
        <div class="form-group">
          <label for ="firstname">First Name:</label>
          <input type="text" name="firstname" class="form-control" id="username" required/>
        </div>
        <!-- Section for inputting user full name -->
        <div class="form-group">
          <label for ="lastname">Last Name:</label>
          <input type="text" name="lastname" class="form-control" id="username" required/>
        </div>
        <!-- Section for inputting user email -->
        <div class="form-group">
          <label for ="useremail">Email:</label>
           <input type="email" name="email" class="form-control" id="useremail" required/>
        </div>
        <!-- Checkbox for newsletters -->
        <div class="checkbox">
          <label><input type="checkbox" value="">Send Me Newsletters About Homes</label>
        </div>
        <!-- Section for inputting message -->
        <div class="form-group">
          <label type = "text" for="message">Message:</label>
          <textarea class="form-control" rows="10" id="message">
          </textarea>
        </div>
        <!-- Button for sending message -->
        <button id="submit-btn" action="/addclient" type="submit" class="btn btn-default">Send</button>
      </div>
      <!-- End of panel body -->
      </div>
      <!-- End of panel -->
    </div>
    <div class="col-sm-2"></div>
    </form>
  </div>

</div>
<!-- End of Contact section -->
 </body>
 </html>
